#ajax_loading {
    display:none;
}

body {
    min-height: 2000px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

label {
    font-weight:normal;
}

.navbar-nav > li > form {
    padding: 13px 0 0 0;
    margin: 0;
}