{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class='text-center'>
        <a class='btn btn-info' href="/">Give me next word</a><br />

        {% if not show_wordphrase %}
            <a id='toggle-word' class='btn btn-danger' href='#'>show word</a>
        {% endif %}
        <h1 id='wordphrase-word' class='text-center'
            style='display:{% if not show_wordphrase %}none{% endif %}'>
            {{ wordphrase.text|title }}
        </h1>


        <div class='images'>

            {% if not show_images %}
                <a id='toggle-images' class='btn btn-success' href='#'>show image</a>
            {% endif %}

            <div id='wordphrase-images' style='display: {% if not show_images %}none{% endif %}'>

                {% if wordphrase.picture_set.all %}
                    {%  for pic in  wordphrase.picture_set.all %}
                        <img src='/media/{{ pic.file }}' />
                    {% endfor %}
                {% else %}
                    <img width='160' src='{% static 'images/work-in-progress.png' %}' />
                {% endif %}
            </div>

            {% if not show_translations %}
                <br />
                <a id='toggle-translation' class='btn btn-warning' href='#'>show translation</a>
            {% endif %}

            <div id='wordphrase-translations' style='display: {% if not show_translations %}none{% endif %}'>
                {% for wordphrase in translations %}
                    {{ wordphrase.text }}
                {% endfor %}
            </div>

            {% if wordphrase.type == 1  %}
                <a class='btn btn-link'
                   target="_blank"
                   href='http://www.forvo.com/word/{{ wordphrase.text }}/#{{ wordphrase.language.code }}'>
                    Pronunciation
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    $('#toggle-translation').click(function(){
        $("#wordphrase-translations").toggle();
        $(this).hide()
    });

    $('#toggle-images').click(function(){
        $("#wordphrase-images").toggle();
        $(this).hide()
    });

    $('#toggle-word').click(function(){
        $("#wordphrase-word").toggle();
         $(this).hide()
    });


{% endblock %}